/* base16-atelier-savanna.css */
:root {
    --black: #171c19; /* base00*/
    --red: #b16139; /* base08 */
    --green: #489963; /* base0B */
    --yellow: #a07e3b; /* base0A */
    --blue: #478c90; /* base0D */
    --magenta: #55859b; /* base0E */
    --cyan: #1c9aa0; /* base0C */
    --white: #87928a; /* base05 */
    --brblack: #5f6d64; /* base03 */
    --brred: #b16139; /* base08 */
    --brgreen: #489963; /* base0B */
    --bryellow: #a07e3b; /* base0A */
    --brblue: #478c90; /* base0D */
    --brmagenta: #55859b; /* base0E */
    --brcyan: #1c9aa0; /* base0C */
    --brwhite: #ecf4ee; /* base07 */
}
