/* base16-atelier-heath.css */
:root {
    --black: #1b181b; /* base00*/
    --red: #ca402b; /* base08 */
    --green: #918b3b; /* base0B */
    --yellow: #bb8a35; /* base0A */
    --blue: #516aec; /* base0D */
    --magenta: #7b59c0; /* base0E */
    --cyan: #159393; /* base0C */
    --white: #ab9bab; /* base05 */
    --brblack: #776977; /* base03 */
    --brred: #ca402b; /* base08 */
    --brgreen: #918b3b; /* base0B */
    --bryellow: #bb8a35; /* base0A */
    --brblue: #516aec; /* base0D */
    --brmagenta: #7b59c0; /* base0E */
    --brcyan: #159393; /* base0C */
    --brwhite: #f7f3f7; /* base07 */
}
