/* base16-greenscreen.css */
:root {
    --black: #001100; /* base00*/
    --red: #007700; /* base08 */
    --green: #00bb00; /* base0B */
    --yellow: #007700; /* base0A */
    --blue: #009900; /* base0D */
    --magenta: #00bb00; /* base0E */
    --cyan: #005500; /* base0C */
    --white: #00bb00; /* base05 */
    --brblack: #007700; /* base03 */
    --brred: #007700; /* base08 */
    --brgreen: #00bb00; /* base0B */
    --bryellow: #007700; /* base0A */
    --brblue: #009900; /* base0D */
    --brmagenta: #00bb00; /* base0E */
    --brcyan: #005500; /* base0C */
    --brwhite: #00ff00; /* base07 */
}
