/* base16-gruvbox-dark-hard.css */
:root {
    --black: #1d2021; /* base00*/
    --red: #fb4934; /* base08 */
    --green: #b8bb26; /* base0B */
    --yellow: #fabd2f; /* base0A */
    --blue: #83a598; /* base0D */
    --magenta: #d3869b; /* base0E */
    --cyan: #8ec07c; /* base0C */
    --white: #d5c4a1; /* base05 */
    --brblack: #665c54; /* base03 */
    --brred: #fb4934; /* base08 */
    --brgreen: #b8bb26; /* base0B */
    --bryellow: #fabd2f; /* base0A */
    --brblue: #83a598; /* base0D */
    --brmagenta: #d3869b; /* base0E */
    --brcyan: #8ec07c; /* base0C */
    --brwhite: #fbf1c7; /* base07 */
}
