/* base16-mexico-light.css */
:root {
    --black: #f8f8f8; /* base00*/
    --red: #ab4642; /* base08 */
    --green: #538947; /* base0B */
    --yellow: #f79a0e; /* base0A */
    --blue: #7cafc2; /* base0D */
    --magenta: #96609e; /* base0E */
    --cyan: #4b8093; /* base0C */
    --white: #383838; /* base05 */
    --brblack: #b8b8b8; /* base03 */
    --brred: #ab4642; /* base08 */
    --brgreen: #538947; /* base0B */
    --bryellow: #f79a0e; /* base0A */
    --brblue: #7cafc2; /* base0D */
    --brmagenta: #96609e; /* base0E */
    --brcyan: #4b8093; /* base0C */
    --brwhite: #181818; /* base07 */
}
