/* base16-macintosh.css */
:root {
    --black: #000000; /* base00*/
    --red: #dd0907; /* base08 */
    --green: #1fb714; /* base0B */
    --yellow: #fbf305; /* base0A */
    --blue: #0000d3; /* base0D */
    --magenta: #4700a5; /* base0E */
    --cyan: #02abea; /* base0C */
    --white: #c0c0c0; /* base05 */
    --brblack: #808080; /* base03 */
    --brred: #dd0907; /* base08 */
    --brgreen: #1fb714; /* base0B */
    --bryellow: #fbf305; /* base0A */
    --brblue: #0000d3; /* base0D */
    --brmagenta: #4700a5; /* base0E */
    --brcyan: #02abea; /* base0C */
    --brwhite: #ffffff; /* base07 */
}
