/* base16-mocha.css */
:root {
    --black: #3B3228; /* base00*/
    --red: #cb6077; /* base08 */
    --green: #beb55b; /* base0B */
    --yellow: #f4bc87; /* base0A */
    --blue: #8ab3b5; /* base0D */
    --magenta: #a89bb9; /* base0E */
    --cyan: #7bbda4; /* base0C */
    --white: #d0c8c6; /* base05 */
    --brblack: #7e705a; /* base03 */
    --brred: #cb6077; /* base08 */
    --brgreen: #beb55b; /* base0B */
    --bryellow: #f4bc87; /* base0A */
    --brblue: #8ab3b5; /* base0D */
    --brmagenta: #a89bb9; /* base0E */
    --brcyan: #7bbda4; /* base0C */
    --brwhite: #f5eeeb; /* base07 */
}
