/* base16-eighties.css */
:root {
    --black: #2d2d2d; /* base00*/
    --red: #f2777a; /* base08 */
    --green: #99cc99; /* base0B */
    --yellow: #ffcc66; /* base0A */
    --blue: #6699cc; /* base0D */
    --magenta: #cc99cc; /* base0E */
    --cyan: #66cccc; /* base0C */
    --white: #d3d0c8; /* base05 */
    --brblack: #747369; /* base03 */
    --brred: #f2777a; /* base08 */
    --brgreen: #99cc99; /* base0B */
    --bryellow: #ffcc66; /* base0A */
    --brblue: #6699cc; /* base0D */
    --brmagenta: #cc99cc; /* base0E */
    --brcyan: #66cccc; /* base0C */
    --brwhite: #f2f0ec; /* base07 */
}
