/* base16-shapeshifter.css */
:root {
    --black: #f9f9f9; /* base00*/
    --red: #e92f2f; /* base08 */
    --green: #0ed839; /* base0B */
    --yellow: #dddd13; /* base0A */
    --blue: #3b48e3; /* base0D */
    --magenta: #f996e2; /* base0E */
    --cyan: #23edda; /* base0C */
    --white: #102015; /* base05 */
    --brblack: #555555; /* base03 */
    --brred: #e92f2f; /* base08 */
    --brgreen: #0ed839; /* base0B */
    --bryellow: #dddd13; /* base0A */
    --brblue: #3b48e3; /* base0D */
    --brmagenta: #f996e2; /* base0E */
    --brcyan: #23edda; /* base0C */
    --brwhite: #000000; /* base07 */
}
