/* base16-hopscotch.css */
:root {
    --black: #322931; /* base00*/
    --red: #dd464c; /* base08 */
    --green: #8fc13e; /* base0B */
    --yellow: #fdcc59; /* base0A */
    --blue: #1290bf; /* base0D */
    --magenta: #c85e7c; /* base0E */
    --cyan: #149b93; /* base0C */
    --white: #b9b5b8; /* base05 */
    --brblack: #797379; /* base03 */
    --brred: #dd464c; /* base08 */
    --brgreen: #8fc13e; /* base0B */
    --bryellow: #fdcc59; /* base0A */
    --brblue: #1290bf; /* base0D */
    --brmagenta: #c85e7c; /* base0E */
    --brcyan: #149b93; /* base0C */
    --brwhite: #ffffff; /* base07 */
}
