/* base16-bright.css */
:root {
    --black: #000000; /* base00*/
    --red: #fb0120; /* base08 */
    --green: #a1c659; /* base0B */
    --yellow: #fda331; /* base0A */
    --blue: #6fb3d2; /* base0D */
    --magenta: #d381c3; /* base0E */
    --cyan: #76c7b7; /* base0C */
    --white: #e0e0e0; /* base05 */
    --brblack: #b0b0b0; /* base03 */
    --brred: #fb0120; /* base08 */
    --brgreen: #a1c659; /* base0B */
    --bryellow: #fda331; /* base0A */
    --brblue: #6fb3d2; /* base0D */
    --brmagenta: #d381c3; /* base0E */
    --brcyan: #76c7b7; /* base0C */
    --brwhite: #ffffff; /* base07 */
}
