/* base16-atelier-estuary.css */
:root {
    --black: #22221b; /* base00*/
    --red: #ba6236; /* base08 */
    --green: #7d9726; /* base0B */
    --yellow: #a5980d; /* base0A */
    --blue: #36a166; /* base0D */
    --magenta: #5f9182; /* base0E */
    --cyan: #5b9d48; /* base0C */
    --white: #929181; /* base05 */
    --brblack: #6c6b5a; /* base03 */
    --brred: #ba6236; /* base08 */
    --brgreen: #7d9726; /* base0B */
    --bryellow: #a5980d; /* base0A */
    --brblue: #36a166; /* base0D */
    --brmagenta: #5f9182; /* base0E */
    --brcyan: #5b9d48; /* base0C */
    --brwhite: #f4f3ec; /* base07 */
}
