/* base16-chalk.css */
:root {
    --black: #151515; /* base00*/
    --red: #fb9fb1; /* base08 */
    --green: #acc267; /* base0B */
    --yellow: #ddb26f; /* base0A */
    --blue: #6fc2ef; /* base0D */
    --magenta: #e1a3ee; /* base0E */
    --cyan: #12cfc0; /* base0C */
    --white: #d0d0d0; /* base05 */
    --brblack: #505050; /* base03 */
    --brred: #fb9fb1; /* base08 */
    --brgreen: #acc267; /* base0B */
    --bryellow: #ddb26f; /* base0A */
    --brblue: #6fc2ef; /* base0D */
    --brmagenta: #e1a3ee; /* base0E */
    --brcyan: #12cfc0; /* base0C */
    --brwhite: #f5f5f5; /* base07 */
}
