/* base16-material-lighter.css */
:root {
    --black: #FAFAFA; /* base00*/
    --red: #FF5370; /* base08 */
    --green: #91B859; /* base0B */
    --yellow: #FFB62C; /* base0A */
    --blue: #6182B8; /* base0D */
    --magenta: #7C4DFF; /* base0E */
    --cyan: #39ADB5; /* base0C */
    --white: #80CBC4; /* base05 */
    --brblack: #CCD7DA; /* base03 */
    --brred: #FF5370; /* base08 */
    --brgreen: #91B859; /* base0B */
    --bryellow: #FFB62C; /* base0A */
    --brblue: #6182B8; /* base0D */
    --brmagenta: #7C4DFF; /* base0E */
    --brcyan: #39ADB5; /* base0C */
    --brwhite: #FFFFFF; /* base07 */
}
