/* base16-nord.css */
:root {
    --black: #2E3440; /* base00*/
    --red: #88C0D0; /* base08 */
    --green: #BF616A; /* base0B */
    --yellow: #5E81AC; /* base0A */
    --blue: #EBCB8B; /* base0D */
    --magenta: #A3BE8C; /* base0E */
    --cyan: #D08770; /* base0C */
    --white: #E5E9F0; /* base05 */
    --brblack: #4C566A; /* base03 */
    --brred: #88C0D0; /* base08 */
    --brgreen: #BF616A; /* base0B */
    --bryellow: #5E81AC; /* base0A */
    --brblue: #EBCB8B; /* base0D */
    --brmagenta: #A3BE8C; /* base0E */
    --brcyan: #D08770; /* base0C */
    --brwhite: #8FBCBB; /* base07 */
}
