/* base16-isotope.css */
:root {
    --black: #000000; /* base00*/
    --red: #ff0000; /* base08 */
    --green: #33ff00; /* base0B */
    --yellow: #ff0099; /* base0A */
    --blue: #0066ff; /* base0D */
    --magenta: #cc00ff; /* base0E */
    --cyan: #00ffff; /* base0C */
    --white: #d0d0d0; /* base05 */
    --brblack: #808080; /* base03 */
    --brred: #ff0000; /* base08 */
    --brgreen: #33ff00; /* base0B */
    --bryellow: #ff0099; /* base0A */
    --brblue: #0066ff; /* base0D */
    --brmagenta: #cc00ff; /* base0E */
    --brcyan: #00ffff; /* base0C */
    --brwhite: #ffffff; /* base07 */
}
