/* base16-atelier-lakeside-light.css */
:root {
    --black: #ebf8ff; /* base00*/
    --red: #d22d72; /* base08 */
    --green: #568c3b; /* base0B */
    --yellow: #8a8a0f; /* base0A */
    --blue: #257fad; /* base0D */
    --magenta: #6b6bb8; /* base0E */
    --cyan: #2d8f6f; /* base0C */
    --white: #516d7b; /* base05 */
    --brblack: #7195a8; /* base03 */
    --brred: #d22d72; /* base08 */
    --brgreen: #568c3b; /* base0B */
    --bryellow: #8a8a0f; /* base0A */
    --brblue: #257fad; /* base0D */
    --brmagenta: #6b6bb8; /* base0E */
    --brcyan: #2d8f6f; /* base0C */
    --brwhite: #161b1d; /* base07 */
}
