/* base16-dracula.css */
:root {
    --black: #282936; /* base00*/
    --red: #ea51b2; /* base08 */
    --green: #ebff87; /* base0B */
    --yellow: #00f769; /* base0A */
    --blue: #62d6e8; /* base0D */
    --magenta: #b45bcf; /* base0E */
    --cyan: #a1efe4; /* base0C */
    --white: #e9e9f4; /* base05 */
    --brblack: #626483; /* base03 */
    --brred: #ea51b2; /* base08 */
    --brgreen: #ebff87; /* base0B */
    --bryellow: #00f769; /* base0A */
    --brblue: #62d6e8; /* base0D */
    --brmagenta: #b45bcf; /* base0E */
    --brcyan: #a1efe4; /* base0C */
    --brwhite: #f7f7fb; /* base07 */
}
