/* base16-3024.css */
:root {
    --black: #090300; /* base00*/
    --red: #db2d20; /* base08 */
    --green: #01a252; /* base0B */
    --yellow: #fded02; /* base0A */
    --blue: #01a0e4; /* base0D */
    --magenta: #a16a94; /* base0E */
    --cyan: #b5e4f4; /* base0C */
    --white: #a5a2a2; /* base05 */
    --brblack: #5c5855; /* base03 */
    --brred: #db2d20; /* base08 */
    --brgreen: #01a252; /* base0B */
    --bryellow: #fded02; /* base0A */
    --brblue: #01a0e4; /* base0D */
    --brmagenta: #a16a94; /* base0E */
    --brcyan: #b5e4f4; /* base0C */
    --brwhite: #f7f7f7; /* base07 */
}
