/node_modules
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/lsp
# Custom paths in /public
/public/coverage
/public/hot
/public/storage
/public/fonts
/public/files
/public/keybase.txt
