body {
    font-family: var(--font-stack-body);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    background-color: var(--color-background);
    color: var(--color-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-stack-headings);
    font-style: normal;
    font-weight: 800;
}

pre,
code {
    font-family: var(--font-stack-monospace);
    font-style: normal;
    font-weight: 400;
}

a {
    color: var(--color-highlight);
    text-decoration: none;
}

.h-feed > .note,
.h-feed > .h-entry {
    margin-top: 4rem;
}
