//contacts-page.scss

main .contact {
    font-size: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
}

.contact .u-photo {
    width: auto;
    height: 8rem;
}
