//header.scss

#topheader {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    min-height: $header-height;
}

#topheader h1 {
    font-size: 2rem;
    padding: 0 2rem;
}

#topheader nav {
    font-size: 2rem;
}
