// main.scss

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--black);

    a {
        color: var(--blue);
        text-decoration: none;
    }

    .h-entry {
        margin: 3rem 0;
    }
}

@import "pagination";
@import "bio";
