//styles.scss

html {
    text-rendering: optimizeLegibility;
    //text-decoration-skip-ink: auto;
    overflow-wrap: break-word;
    font-kerning: normal;
}

h1 a {
    text-decoration: none;
}

#topheader a {
    text-decoration: none;
}

// tags
@import "tags";
