//tags.scss

//sourced from https://codepen.io/wbeeftink/pen/dIaDH

.tags {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
    list-style-type: none;
}

.tag,
.tag:visited {
    background: var(--white);
    border-radius: 3px 0 0 3px;
    color: var(--black);
    display: inline-block;
    height: 2.6rem;
    line-height: 2.6rem;
    padding: 0 2rem 0 1rem;
    position: relative;
    margin: 0 1rem 1rem 0;
    text-decoration: none;
    transition: color 0.2s;
}

.tag::after {
    background: var(--brwhite);
    border-bottom: 1.3rem solid transparent;
    border-left: 1rem solid var(--white);
    border-top: 1.3rem solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: var(--red);
    color: var(--black);
}

.tag:hover::after {
    border-left-color: var(--red);
}
