body {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 699px) {
    main {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 700px) {
    main {
        max-width: 700px;
    }

    main > .note,
    main > .h-entry {
        padding: 0 1rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

main img {
    max-width: 100%;
}

main .h-entry:first-child > .bookmark-link {
    padding-top: 2rem;
}

.note {
    display: flex;
    flex-direction: column;
}

.note-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note .client {
    word-break: break-all;
}

.note .syndication-links svg {
    height: 1em;
    width: 1em;
}

.note > .e-content > .naked-link .u-photo {
    margin: 2rem 0;
}

article header > h1 {
    margin-bottom: 0;
}

.post-info {
    font-size: 1.4rem;
}

.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 90vw;
    list-style-type: none;
}

.personal-bio {
    padding: 0 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

@media screen and (max-width: 699px) {
    input {
        max-width: 95vw;
    }
}

.iwc-logo {
    max-width: 100%;
}

@media screen and (max-width: 699px) {
    footer {
        margin-left: 5px;
        margin-right: 5px;
    }
}

#top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top-header h1 {
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    margin: 0 0.5rem;
}
