/* base16-solarized-light.css */
:root {
    --black: #fdf6e3; /* base00*/
    --red: #dc322f; /* base08 */
    --green: #859900; /* base0B */
    --yellow: #b58900; /* base0A */
    --blue: #268bd2; /* base0D */
    --magenta: #6c71c4; /* base0E */
    --cyan: #2aa198; /* base0C */
    --white: #586e75; /* base05 */
    --brblack: #839496; /* base03 */
    --brred: #dc322f; /* base08 */
    --brgreen: #859900; /* base0B */
    --bryellow: #b58900; /* base0A */
    --brblue: #268bd2; /* base0D */
    --brmagenta: #6c71c4; /* base0E */
    --brcyan: #2aa198; /* base0C */
    --brwhite: #002b36; /* base07 */
}
