/* base16-default-light.css */
:root {
    --black: #f8f8f8; /* base00*/
    --red: #ab4642; /* base08 */
    --green: #a1b56c; /* base0B */
    --yellow: #f7ca88; /* base0A */
    --blue: #7cafc2; /* base0D */
    --magenta: #ba8baf; /* base0E */
    --cyan: #86c1b9; /* base0C */
    --white: #383838; /* base05 */
    --brblack: #b8b8b8; /* base03 */
    --brred: #ab4642; /* base08 */
    --brgreen: #a1b56c; /* base0B */
    --bryellow: #f7ca88; /* base0A */
    --brblue: #7cafc2; /* base0D */
    --brmagenta: #ba8baf; /* base0E */
    --brcyan: #86c1b9; /* base0C */
    --brwhite: #181818; /* base07 */
}
