/* base16-apathy.css */
:root {
    --black: #031A16; /* base00*/
    --red: #3E9688; /* base08 */
    --green: #883E96; /* base0B */
    --yellow: #3E4C96; /* base0A */
    --blue: #96883E; /* base0D */
    --magenta: #4C963E; /* base0E */
    --cyan: #963E4C; /* base0C */
    --white: #81B5AC; /* base05 */
    --brblack: #2B685E; /* base03 */
    --brred: #3E9688; /* base08 */
    --brgreen: #883E96; /* base0B */
    --bryellow: #3E4C96; /* base0A */
    --brblue: #96883E; /* base0D */
    --brmagenta: #4C963E; /* base0E */
    --brcyan: #963E4C; /* base0C */
    --brwhite: #D2E7E4; /* base07 */
}
