/* base16-cupcake.css */
:root {
    --black: #fbf1f2; /* base00*/
    --red: #D57E85; /* base08 */
    --green: #A3B367; /* base0B */
    --yellow: #DCB16C; /* base0A */
    --blue: #7297B9; /* base0D */
    --magenta: #BB99B4; /* base0E */
    --cyan: #69A9A7; /* base0C */
    --white: #8b8198; /* base05 */
    --brblack: #bfb9c6; /* base03 */
    --brred: #D57E85; /* base08 */
    --brgreen: #A3B367; /* base0B */
    --bryellow: #DCB16C; /* base0A */
    --brblue: #7297B9; /* base0D */
    --brmagenta: #BB99B4; /* base0E */
    --brcyan: #69A9A7; /* base0C */
    --brwhite: #585062; /* base07 */
}
