/* base16-classic-light.css */
:root {
    --black: #F5F5F5; /* base00*/
    --red: #AC4142; /* base08 */
    --green: #90A959; /* base0B */
    --yellow: #F4BF75; /* base0A */
    --blue: #6A9FB5; /* base0D */
    --magenta: #AA759F; /* base0E */
    --cyan: #75B5AA; /* base0C */
    --white: #303030; /* base05 */
    --brblack: #B0B0B0; /* base03 */
    --brred: #AC4142; /* base08 */
    --brgreen: #90A959; /* base0B */
    --bryellow: #F4BF75; /* base0A */
    --brblue: #6A9FB5; /* base0D */
    --brmagenta: #AA759F; /* base0E */
    --brcyan: #75B5AA; /* base0C */
    --brwhite: #151515; /* base07 */
}
