/* base16-gruvbox-light-medium.css */
:root {
    --black: #fbf1c7; /* base00*/
    --red: #9d0006; /* base08 */
    --green: #79740e; /* base0B */
    --yellow: #b57614; /* base0A */
    --blue: #076678; /* base0D */
    --magenta: #8f3f71; /* base0E */
    --cyan: #427b58; /* base0C */
    --white: #504945; /* base05 */
    --brblack: #bdae93; /* base03 */
    --brred: #9d0006; /* base08 */
    --brgreen: #79740e; /* base0B */
    --bryellow: #b57614; /* base0A */
    --brblue: #076678; /* base0D */
    --brmagenta: #8f3f71; /* base0E */
    --brcyan: #427b58; /* base0C */
    --brwhite: #282828; /* base07 */
}
