/* base16-circus.css */
:root {
    --black: #191919; /* base00*/
    --red: #dc657d; /* base08 */
    --green: #84b97c; /* base0B */
    --yellow: #c3ba63; /* base0A */
    --blue: #639ee4; /* base0D */
    --magenta: #b888e2; /* base0E */
    --cyan: #4bb1a7; /* base0C */
    --white: #a7a7a7; /* base05 */
    --brblack: #5f5a60; /* base03 */
    --brred: #dc657d; /* base08 */
    --brgreen: #84b97c; /* base0B */
    --bryellow: #c3ba63; /* base0A */
    --brblue: #639ee4; /* base0D */
    --brmagenta: #b888e2; /* base0E */
    --brcyan: #4bb1a7; /* base0C */
    --brwhite: #ffffff; /* base07 */
}
