/* base16-rebecca.css */
:root {
    --black: #292a44; /* base00*/
    --red: #a0a0c5; /* base08 */
    --green: #6dfedf; /* base0B */
    --yellow: #ae81ff; /* base0A */
    --blue: #2de0a7; /* base0D */
    --magenta: #7aa5ff; /* base0E */
    --cyan: #8eaee0; /* base0C */
    --white: #f1eff8; /* base05 */
    --brblack: #666699; /* base03 */
    --brred: #a0a0c5; /* base08 */
    --brgreen: #6dfedf; /* base0B */
    --bryellow: #ae81ff; /* base0A */
    --brblue: #2de0a7; /* base0D */
    --brmagenta: #7aa5ff; /* base0E */
    --brcyan: #8eaee0; /* base0C */
    --brwhite: #53495d; /* base07 */
}
