/* base16-solarflare.css */
:root {
    --black: #18262F; /* base00*/
    --red: #EF5253; /* base08 */
    --green: #7CC844; /* base0B */
    --yellow: #E4B51C; /* base0A */
    --blue: #33B5E1; /* base0D */
    --magenta: #A363D5; /* base0E */
    --cyan: #52CBB0; /* base0C */
    --white: #A6AFB8; /* base05 */
    --brblack: #667581; /* base03 */
    --brred: #EF5253; /* base08 */
    --brgreen: #7CC844; /* base0B */
    --bryellow: #E4B51C; /* base0A */
    --brblue: #33B5E1; /* base0D */
    --brmagenta: #A363D5; /* base0E */
    --brcyan: #52CBB0; /* base0C */
    --brwhite: #F5F7FA; /* base07 */
}
