/* base16-monokai.css */
:root {
    --black: #272822; /* base00*/
    --red: #f92672; /* base08 */
    --green: #a6e22e; /* base0B */
    --yellow: #f4bf75; /* base0A */
    --blue: #66d9ef; /* base0D */
    --magenta: #ae81ff; /* base0E */
    --cyan: #a1efe4; /* base0C */
    --white: #f8f8f2; /* base05 */
    --brblack: #75715e; /* base03 */
    --brred: #f92672; /* base08 */
    --brgreen: #a6e22e; /* base0B */
    --bryellow: #f4bf75; /* base0A */
    --brblue: #66d9ef; /* base0D */
    --brmagenta: #ae81ff; /* base0E */
    --brcyan: #a1efe4; /* base0C */
    --brwhite: #f9f8f5; /* base07 */
}
