/* base16-xcode-dusk.css */
:root {
    --black: #282B35; /* base00*/
    --red: #B21889; /* base08 */
    --green: #DF0002; /* base0B */
    --yellow: #438288; /* base0A */
    --blue: #790EAD; /* base0D */
    --magenta: #B21889; /* base0E */
    --cyan: #00A0BE; /* base0C */
    --white: #939599; /* base05 */
    --brblack: #686A71; /* base03 */
    --brred: #B21889; /* base08 */
    --brgreen: #DF0002; /* base0B */
    --bryellow: #438288; /* base0A */
    --brblue: #790EAD; /* base0D */
    --brmagenta: #B21889; /* base0E */
    --brcyan: #00A0BE; /* base0C */
    --brwhite: #BEBFC2; /* base07 */
}
