/* base16-pop.css */
:root {
    --black: #000000; /* base00*/
    --red: #eb008a; /* base08 */
    --green: #37b349; /* base0B */
    --yellow: #f8ca12; /* base0A */
    --blue: #0e5a94; /* base0D */
    --magenta: #b31e8d; /* base0E */
    --cyan: #00aabb; /* base0C */
    --white: #d0d0d0; /* base05 */
    --brblack: #505050; /* base03 */
    --brred: #eb008a; /* base08 */
    --brgreen: #37b349; /* base0B */
    --bryellow: #f8ca12; /* base0A */
    --brblue: #0e5a94; /* base0D */
    --brmagenta: #b31e8d; /* base0E */
    --brcyan: #00aabb; /* base0C */
    --brwhite: #ffffff; /* base07 */
}
