/* base16-one-light.css */
:root {
    --black: #fafafa; /* base00*/
    --red: #ca1243; /* base08 */
    --green: #50a14f; /* base0B */
    --yellow: #c18401; /* base0A */
    --blue: #4078f2; /* base0D */
    --magenta: #a626a4; /* base0E */
    --cyan: #0184bc; /* base0C */
    --white: #383a42; /* base05 */
    --brblack: #a0a1a7; /* base03 */
    --brred: #ca1243; /* base08 */
    --brgreen: #50a14f; /* base0B */
    --bryellow: #c18401; /* base0A */
    --brblue: #4078f2; /* base0D */
    --brmagenta: #a626a4; /* base0E */
    --brcyan: #0184bc; /* base0C */
    --brwhite: #090a0b; /* base07 */
}
