/* base16-mellow-purple.css */
:root {
    --black: #1e0528; /* base00*/
    --red: #00d9e9; /* base08 */
    --green: #05cb0d; /* base0B */
    --yellow: #955ae7; /* base0A */
    --blue: #550068; /* base0D */
    --magenta: #8991bb; /* base0E */
    --cyan: #b900b1; /* base0C */
    --white: #ffeeff; /* base05 */
    --brblack: #320f55; /* base03 */
    --brred: #00d9e9; /* base08 */
    --brgreen: #05cb0d; /* base0B */
    --bryellow: #955ae7; /* base0A */
    --brblue: #550068; /* base0D */
    --brmagenta: #8991bb; /* base0E */
    --brcyan: #b900b1; /* base0C */
    --brwhite: #f8c0ff; /* base07 */
}
