/* base16-tomorrow-night.css */
:root {
    --black: #1d1f21; /* base00*/
    --red: #cc6666; /* base08 */
    --green: #b5bd68; /* base0B */
    --yellow: #f0c674; /* base0A */
    --blue: #81a2be; /* base0D */
    --magenta: #b294bb; /* base0E */
    --cyan: #8abeb7; /* base0C */
    --white: #c5c8c6; /* base05 */
    --brblack: #969896; /* base03 */
    --brred: #cc6666; /* base08 */
    --brgreen: #b5bd68; /* base0B */
    --bryellow: #f0c674; /* base0A */
    --brblue: #81a2be; /* base0D */
    --brmagenta: #b294bb; /* base0E */
    --brcyan: #8abeb7; /* base0C */
    --brwhite: #ffffff; /* base07 */
}
