/* base16-codeschool.css */
:root {
    --black: #232c31; /* base00*/
    --red: #2a5491; /* base08 */
    --green: #237986; /* base0B */
    --yellow: #a03b1e; /* base0A */
    --blue: #484d79; /* base0D */
    --magenta: #c59820; /* base0E */
    --cyan: #b02f30; /* base0C */
    --white: #9ea7a6; /* base05 */
    --brblack: #3f4944; /* base03 */
    --brred: #2a5491; /* base08 */
    --brgreen: #237986; /* base0B */
    --bryellow: #a03b1e; /* base0A */
    --brblue: #484d79; /* base0D */
    --brmagenta: #c59820; /* base0E */
    --brcyan: #b02f30; /* base0C */
    --brwhite: #b5d8f6; /* base07 */
}
