/* base16-material-palenight.css */
:root {
    --black: #292D3E; /* base00*/
    --red: #F07178; /* base08 */
    --green: #C3E88D; /* base0B */
    --yellow: #FFCB6B; /* base0A */
    --blue: #82AAFF; /* base0D */
    --magenta: #C792EA; /* base0E */
    --cyan: #89DDFF; /* base0C */
    --white: #959DCB; /* base05 */
    --brblack: #676E95; /* base03 */
    --brred: #F07178; /* base08 */
    --brgreen: #C3E88D; /* base0B */
    --bryellow: #FFCB6B; /* base0A */
    --brblue: #82AAFF; /* base0D */
    --brmagenta: #C792EA; /* base0E */
    --brcyan: #89DDFF; /* base0C */
    --brwhite: #FFFFFF; /* base07 */
}
