/* base16-irblack.css */
:root {
    --black: #000000; /* base00*/
    --red: #ff6c60; /* base08 */
    --green: #a8ff60; /* base0B */
    --yellow: #ffffb6; /* base0A */
    --blue: #96cbfe; /* base0D */
    --magenta: #ff73fd; /* base0E */
    --cyan: #c6c5fe; /* base0C */
    --white: #b5b3aa; /* base05 */
    --brblack: #6c6c66; /* base03 */
    --brred: #ff6c60; /* base08 */
    --brgreen: #a8ff60; /* base0B */
    --bryellow: #ffffb6; /* base0A */
    --brblue: #96cbfe; /* base0D */
    --brmagenta: #ff73fd; /* base0E */
    --brcyan: #c6c5fe; /* base0C */
    --brwhite: #fdfbee; /* base07 */
}
