.grid {
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 1rem;
}

#site-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.h-feed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.h-entry {
  & p:first-of-type,
  & h1:first-of-type {
    margin-block-start: 0;
  }
}

.pagination {
  margin-block-start: 1rem;
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  & .iwc-logo {
    max-width: 85vw;
  }

  & .footer-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
