//global.scss

//variables
$font-stack-body: "leitura-news", serif;
$font-stack-headers: "prenton", sans-serif;

//solarized variables TERMCOL
$base03:    #002b36;//brblack
$base02:    #073642;//black
$base01:    #586e75;//brgreen
$base00:    #657b83;//bryellow
$base0:     #839496;//brblue
$base1:     #93a1a1;//brcyan
$base2:     #eee8d5;//white
$base3:     #fdf6e3;//brwhite
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

//global styles
html {
	background: url('/assets/img/escheresque.png');
}

.map {
	height: 150px;
}

//layout
@import "layout";

//components
@import "components/fonts";
@import "components/colours";
@import "components/forms";
@import "components/twitter";
