.indieauth {
  .error {
    color: var(--color-danger);
    background-color: var(--color-danger-shadow);
    border: 1px solid var(--color-danger);
    border-radius: .5rem;
    display: flex;
    padding-inline: 1rem;
    padding-block: .5rem;
    width: fit-content;
    margin-block-end: 1rem;
  }
}
