// notes.scss

.h-entry .note {
    width: $mainWidth;
}

@media screen and (max-width: $mainWidth) {
    .h-entry .note {
        width: 95vw;

        .e-content {
            img {
                width: 100%;
            }
        }
    }
}
